@page "/EventDetail/{Id:int}"
@inject IEventService _service
@if (Event != null)
{
<div class="py-5 bg-dark text-light details">
    <div class="banner" style="background-image: url(@Event.EventInfo.BannerImgUrl); filter: blur(8px); -webkit-filter: blur(8px);">
    </div>
    <div class="mt-5 banner2" style="background-image: url(@Event.EventInfo.BannerImgUrl">
        <h3>@Event.EventInfo.Name</h3>
    </div>
    <div class="row mb-5">

        <div class="col-2"></div>
        <div class="col-4 center mb-4">
            <p>
                @if (Event.EventInfo.EventDate > DateTime.MinValue)
                {
                    <span class="event-date">@Event.EventInfo.EventDate.ToLongDateString()</span>
                }
                else
                {
                    @:&nbsp;To Be Announced
                }
                <span class="ml-2">
                    @if (@Event.Status != "Default")
                    {
                        <span class="@(Event.Status=="Cancelled" ? "text-danger" : "text-warning") float-end">@Event.Status</span>
                    }
                </span>
            </p>
            <p>@Event.EventInfo.Description</p>

        </div>
        <div class="col-4">
            <p>Maximum amount of tickets: @Event.EventInfo.MaxAvailableTickets</p>
            <button href="" class="btn btn-warning">Buy Tickets</button>
            <a href="@Event.EventInfo.WebsiteUrl" target="_blank" class="btn btn-secondary">Our Site</a>
        </div>
        <div class="col-2"></div>
    </div>
    
    
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4 center">

            <h5>@Event.TicketProvider.NameProvider</h5>
            <p>@Event.TicketProvider.Email </p>
            <p>@Event.TicketProvider.PhoneNumber</p>
        </div>
        <div class="col-4 center">

            <h5>@Event.Venue.Name</h5>
            <p>@Event.Venue.Address.Street @Event.Venue.Address.StreetNumber  </p>
            <p>@Event.Venue.Address.PostalCode  @Event.Venue.Address.City </p>
            <p>@Event.Venue.Address.Country</p>
        </div>
        <div class="col-2"></div>
    </div>

</div>

}
else
{
    <p>No Event found</p>
}


@code {
    [Parameter]
    public int Id { get; set; }

    public EventDto Event { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Event = await _service.GetEventByIdAsync(Id);
    }

}
