@page "/TicketPurchase/{Id:int}"
@inject IEventService _eventService
@inject ICustomerService _customerService

<div class="page-background">
    <section>
        @if (Event != null)
        {
            <h3 class="mb-5">Tickets for @Event.EventInfo.Name</h3>
            


            <Form @onsubmit="PurchaseTickets" class="">
                <div class="row mb-3">
                    <div class="col">
                        <h5>
                            Type
                        </h5>
                    </div>
                    <div class="col">
                        <h5>
                            Price
                        </h5>                        
                    </div>
                    <div class="col">
                        <h5>
                            Quantity
                        </h5>                        
                    </div>
                </div>
                <hr />
                <div>
                    @foreach (var priceCategory in Event.TicketCategories)
                    {
                        @*<PriceCategory ticketCategory="priceCategory"></PriceCategory>*@
                        <div class="row">
                            <div class="col">
                                @priceCategory.Name
                            </div>
                            <div class="col">
                                € @priceCategory.Price
                            </div>
                            <div class="col">
                                @*<input type="number" class="form-control small-bars" @bind="AmountOfTickets" />*@
                                <button class="btn btn-outline-warning" @onclick="() => AddTicketToPurchasingList(priceCategory)">+</button>
                            </div>
                        </div>
                        <hr />
                    }
                </div>

                <h3 class="mt-3"> Total Price: € @TotalPrice</h3>
                <button type="submit" class="btn btn-warning mt-3">Order Tickets! </button>
            </Form>

            @if (TicketsPurchasingList != null)
            {

                <h5>Your current purchase:</h5>

                @foreach (var ticket in TicketsPurchasingList)
                {
                    <div class="row">
                        <div class="col">
                            @ticket.Name
                        </div>
                        <div class="col">
                            @ticket.Price
                        </div>
                    </div>
                }
            }



            @if (PurchaseSuccesful)
            {
                <div class="mt-5">
                    You succesfully ordered @AmountOfTickets tickets for €@TotalPrice !
                </div>
            }



        }
        else
        {
            <p>No events found.</p>
        }

    </section>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    public EventDto Event { get; set; }

    public int AmountOfTickets { get; set; }
    public double TotalPrice { get; set; }

    public bool PurchaseSuccesful { get; set; }

    public List<TicketCategoryDto> TicketsPurchasingList { get; set; }

    public CustomerWithTicketsDto Customer { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Event = await _eventService.GetEventByIdAsync(Id);
        Customer = await _customerService.GetCustomerByIdAsync(1);
        PurchaseSuccesful = false;
    }

    private void AddTicketToPurchasingList(TicketCategoryDto ticket)
    {
        TicketsPurchasingList.Add(ticket);
        TotalPrice += ticket.Price;
    }

    private void PurchaseTickets()
    {
        PurchaseSuccesful = true;
    }
}
