<tr @onclick="() => EventInfo.InvokeAsync(Event)">
    <td>
        @if (Event.EventInfo.EventDate > DateTime.MinValue)
        {
            @Event.EventInfo.EventDate.ToString("dd-MM-yyyy");
        }
        else
        {
            @:TBA
        }
    </td>
    <td>@Event.EventInfo.Name</td>
    <td>
        @if (@Event.Status != "Default")
        {
            <span class="@(Event.Status=="Cancelled" ? "text-danger" : "text-warning") float-end">@Event.Status</span>
        }
    </td>
</tr>


@code {
    [Parameter]
    public EventDto Event { get; set; }
    [Parameter]
    public EventCallback<EventDto> EventInfo { get; set; }
}
