@using Newtonsoft.Json;
@inject IJSRuntime JSRuntime
@inject IAccountService _accountService
@inject NavigationManager navigationManager
@using YES.Shared.Enums
@using System.Net.Mail
@using System.Diagnostics.Contracts

<div>
    @if (LoggedInUser == null)
    {
        <span class="login-logout" @onclick="@ShowLoginModal"><i class="fas fa-sign-out-alt"></i>Login</span>
    }
    else
    {
        <div class="greeting-wrapper">
            @if (LoggedInUser.Role == Roles.Default || LoggedInUser.Role == Roles.TicketCustomer)
	        {
                <a href="customerdetail" class="greeting">Hello, @LoggedInUser.GreetingName</a>	 
	        }
            else if(LoggedInUser.Role == Roles.TicketProvider)
            {
                <a href="providerdetail" class="greeting">Hello, @LoggedInUser.GreetingName</a>
            }
            <span class="login-logout" @onclick="LogOut"><i class="fas fa-sign-out-alt"></i>Logout</span>
        </div>
    }

    <Modal @ref="_loginModal">
        <ModalContent Centered="true" Class="bg-dark text-light" Size="ModalSize.Small">
            <ModalHeader>
                <ModalTitle>Log In</ModalTitle>
                <CloseButton Class="close-btn btn" />
            </ModalHeader>
            <ModalBody>
                <Login LoginInfo="@LoginInfo" 
                       LogIn="@(LogIn)"
                       ShowRegisterModal="@(ShowRegisterModal)"
                       LoginFailed="LoginFailed"
                       ResponseMessage="@ResponseMessage"/>
                
            </ModalBody>
        </ModalContent>
    </Modal>
    
    <Modal @ref="_registerModal">
        <ModalContent Centered="true" Class="bg-dark text-light" Size="ModalSize.Large">
            <ModalHeader>
                <ModalTitle>Register</ModalTitle>
                <CloseButton Class="close-btn btn" />
            </ModalHeader>
            <ModalBody>
                <Register RegisterCustomerInfo="RegisterCustomer"
                          RegisterProviderInfo="RegisterProvider"
                          RegisterUser="@(RegisterUser)"
                          RegisterFailed="RegisterFailed"
                          ResponseMessage="@ResponseMessage"
                          IsCustomer="@SetRegisterType"
                          />
            </ModalBody>
        </ModalContent>
    </Modal>
</div>

@code {
    [Parameter]
    public EventCallback<UserTokenDto> SetUserInHeader { get; set; }
    [Parameter]
    public EventCallback ClearUserInHeader { get; set; }

    private UserTokenDto LoggedInUser { get; set; }

    private LoginDto LoginInfo { get; set; } = new();
    private RegisterCustomerDto RegisterCustomer { get; set; } = new();
    private RegisterProviderDto RegisterProvider { get; set; } = new();
    private bool PasswordsMatch { get; set; }

    // reference to the modal components
    private Modal _loginModal;
    private Modal _registerModal;

    public bool LoginFailed { get; set; }
    public bool RegisterFailed { get; set; }

    public bool IsCustomer { get; set; }

    public string ResponseMessage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ResetBools();
        await SetCustomer();
    }

    private void ShowLoginModal()
    {
        ResetBools();
        _loginModal.Show();
    }

    private void HideLoginModal()
    {
        _loginModal.Hide();
    }

    private void ShowRegisterModal()
    {
        ResetBools();
        HideLoginModal();
        _registerModal.Show();
    }

    private async Task LogOut()
    {
        await JSRuntime.InvokeAsync<string>("localStorage.removeItem", "user");
        _accountService.LogOut();
        LoggedInUser = null;
        navigationManager.NavigateTo("/");
        await ClearUserInHeader.InvokeAsync();
    }

    private async Task SetCustomer()
    {
        var JsonUser = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "user");
        if (JsonUser != null)
        {
            LoggedInUser = JsonConvert.DeserializeObject<UserTokenDto>(JsonUser);
            GlobalVariables.LoggedInUser = LoggedInUser;
        }
    }

    private async Task LogIn()
    {
        ResetBools();

        var response = await _accountService.LogIn(LoginInfo);

        if (response.IsSuccessStatusCode)
        {
            await JSRuntime.InvokeVoidAsync("localStorage.setItem", "user", await response.Content.ReadAsStringAsync());
            HideLoginModal();
            await SetCustomer();

            //send user to parent
            await SetUserInHeader.InvokeAsync(LoggedInUser);
        }
        else
        {
            LoginFailed = true;
            ResponseMessage =  await response.Content.ReadAsStringAsync();
        }
    }

    private async Task RegisterUser()
    {
        ResetBools();

        if (IsCustomer)
        {
            var response = await _accountService.RegisterCustomer(RegisterCustomer);
            if (response.IsSuccessStatusCode)
            {
                LoginInfo.Email = RegisterCustomer.Email;
                LoginInfo.Password = RegisterCustomer.Password;
                await LogIn();
                _registerModal.Hide();
            }
            else
            {
                RegisterFailed = true;
                ResponseMessage = await response.Content.ReadAsStringAsync();
            }
        }
        else
        {
            var response = await _accountService.RegisterProvider(RegisterProvider);
            if (response.IsSuccessStatusCode)
            {
                LoginInfo.Email = RegisterProvider.Email;
                LoginInfo.Password = RegisterProvider.Password;
                await LogIn();
                _registerModal.Hide();
            }
            else
            {
                RegisterFailed = true;
                ResponseMessage = await response.Content.ReadAsStringAsync();
            }
        }
    }

    private void ResetBools()
    {
        LoginFailed = false;
        RegisterFailed = false;
    }

    private void SetRegisterType(bool isCustomer)
    {
        IsCustomer = isCustomer;
    }

}