<EditForm Model="@LoginInfo" OnValidSubmit="@LogIn">
    <DataAnnotationsValidator />
    <div>
        <label for="email">Email</label>
        <InputText id="email" class="form-control mt-1" placeholder="Email" type="email" @bind-Value="@LoginInfo.Email" />
        <span class="error-message"><ValidationMessage For="() => LoginInfo.Email" /></span>
    </div>
    <div>
        <label for="password">Password</label>
        <InputText id="password" class="form-control mt-1" placeholder="Password" type="password" @bind-Value="@LoginInfo.Password" />
        <span class="error-message"><ValidationMessage For="() => LoginInfo.Password" /></span>
    </div>
    <p class="no-account">No account yet? Register <span class="open-register-modal" @onclick="@ShowRegisterModal">here</span>.</p>
    <button class="btn btn-outline-success mt-1 float-end" type="submit">Login</button>
</EditForm>

@code {
    [Parameter]
    public LoginDto LoginInfo { get; set; }
    [Parameter]
    public EventCallback LogIn { get; set; }
    [Parameter]
    public EventCallback ShowRegisterModal { get; set; }
}