
<div class="col">
    @Ticket.DateOfPurchase.ToString("dd/MM/yyyy")
</div>
<div class="col">
    @Ticket.EventDate.ToString($"dd/MM/yyyy HH:mm")
</div>
<div class="col">
    @Ticket.TicketCategory.Name
</div>
<div class="col">
    € @Ticket.TicketCategory.Price
</div>
<div class="col ticket-link" @onclick="() => EventInfo.InvokeAsync(Ticket)">
    @Ticket.EventName
</div>
<div class="col">
    @Ticket.VenueName
</div>
<div class="col">
    @if (Ticket.EventDate > DateTime.Now)
    {
        <input type="checkbox" @onchange="OnChange" />        
    }
     else
     {
        <input type="checkbox" disabled />        
     }
</div>



@code {
    [Parameter]
    public TicketDto Ticket { get; set; }

    [Parameter]
    public bool ToBeCancelled { get; set; }

    [Parameter]
    public EventCallback OnChange { get; set; }

    [Parameter]
    public EventCallback<TicketDto> EventInfo { get; set; }


}
